*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ECFDF5;
    font-family: rethink-sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: geist;
    font-weight: 700;
}

:root {
    --colorSecundario: #D4932C;
    --colorTitulo: #071212;
}

.titulo {
    color: var(--colorTitulo);
}

p {
    color: #595959;
    line-height: 1.4;
    letter-spacing: .5px;
}

.btn {
            color: #fff;
            display: inline-block;
            padding: 10px 20px;
            background: var(--colorSecundario);
            border-radius: 50px;
            text-decoration: none;


            &:hover {
                background: #94671e;
            }
        }

/* ---herder--- */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background: #1B4746;
    flex-wrap: wrap;



    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 30px;
            color: #fff;
        }

        p {
            font-size: 16px;
            color: #FFFB20;
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        ul {
            display: flex;
            gap: 15px;
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 400;
                    font-size: 18px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 800px) {

        & {

            .btn-whatsapp {
                display: none;
            }
        }
        
    }

    @media screen and (max-width: 630px) {

        & {
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        
    }

}

/* ---hero--- */

.hero {
   
    background: #1B4746;
    margin-bottom: 45px;

    .grid {

        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        .texto-hero {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            margin: 80px 80px 40px 80px;
    
            .icono {
                display: flex;
                gap: 10px;
                color: #FFFB20;
    
                .star {
                    width: 16px;
                }
            }
    
            h1 {
                color: #fff;
                margin: 0;
            }
    
            p {
                color: #fff;
                font-size: 18px;
                line-height: 1.4;
            }
    
            .btn-hero {
                display: flex;
                gap: 15px;
    
                .btn {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: center;
    
                    &.segundario {
                        background: #ffffff86;

                        &:hover {
                            background: #ffffffb3;
                        }
                    }
                }
    
                
            }
        }
    
        .thoms {
            display: flex;
            justify-content: center;
            align-items: flex-end;
    
            img {
                width: 70%;
            }
        }

        @media screen and (max-width: 1100px) {

            & {

                .texto-hero {
                    margin: 40px;
                }

                .thoms {
                    img {
                        width: 90%;
                    }
                }
            }
            
        }

        @media screen and (max-width: 900px) {

            & {

                .texto-hero {
                    margin: 0;
                    padding: 20px 0 0 0;
                }
            }
            
        }

        @media screen and (max-width: 600px) {

            & {
                grid-template-columns: 1fr;
                
                .texto-hero {
                    text-align: center;

                    .icono {
                        justify-content: center;
                    }

                    .btn-hero {
                        justify-content: center;
                    }
                }

                .thoms {
                    display: none;
                }
            }
            
        }
    }

}

/* ---main--- */

.contenedor-main {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.porque {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

.texto-porque {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        font-size: 28px;
    }

    .parrafo {
        color: #020202;
    }

   ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        gap: 10px;

        .icono-porque {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 100%;
                height: 100%;
                color: var(--colorSecundario);
            }
        }
    }
   }
}

.thom-porque {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        height: 90%;
        object-fit: cover;
        border-radius: 5px;

    }
}

}