*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: #ecfdf5; */
  font-family: rethink-sans, sans-serif;
background-image: radial-gradient(#82fac2 0.5px, #ecfdf5 0.5px);
background-size: 15px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: geist;
  font-weight: 700;
  color: var(--colorTitulo);
}

:root {
  --colorPrimario: #1b4746;
  --colorSecundario: #d4932c;
  --colorTitulo: #071212;
}

.titulo {
  color: var(--colorTitulo);
}

p {
  color: #595959;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: 17px;
}

.btn {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  background: var(--colorSecundario);
  border-radius: 50px;
  text-decoration: none;

  &:hover {
    background: #94671e;
  }
}

.encabezado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-bottom: 30px;

  .titulo {
    font-size: 28px;
  }
}

/* ---herder--- */

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background: #1b4746;
  flex-wrap: wrap;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 30px;
      color: #fff;
    }

    p {
      font-size: 16px;
      color: #fffb20;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    ul {
      display: flex;
      gap: 15px;
      list-style: none;
      flex-wrap: wrap;
      justify-content: center;

      li {
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 400;
          font-size: 18px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    & {
      .btn-whatsapp {
        display: none;
      }
    }
  }

  @media screen and (max-width: 630px) {
    & {
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

/* ---hero--- */

.hero {
  background: linear-gradient(#1b4746, #1b474683 );
  margin-bottom: 50px;
  position: relative;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    .texto-hero {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      margin: 80px 80px 40px 80px;

      .icono {
        display: flex;
        gap: 10px;
        color: #fffb20;

        .star {
          width: 16px;
        }
      }

      h1 {
        color: #fff;
        margin: 0;
      }

      p {
        color: #fff;
        font-size: 18px;
        line-height: 1.4;
      }

      .btn-hero {
        display: flex;
        gap: 15px;

        .btn {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;

          &.segundario {
            background: #ffffff86;

            &:hover {
              background: #ffffffb3;
            }
          }
        }
      }
    }

    .thoms {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      img {
        width: 70%;
      }
    }

    @media screen and (max-width: 1100px) {
      & {
        .texto-hero {
          margin: 40px;
        }

        .thoms {
          img {
            width: 90%;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      & {
        .texto-hero {
          margin: 0;
          padding: 20px 0 0 0;
        }
      }
    }

    @media screen and (max-width: 600px) {
      & {
        grid-template-columns: 1fr;

        .texto-hero {
          text-align: center;
          margin-bottom: 20px;

          .icono {
            justify-content: center;
          }

          .btn-hero {
            justify-content: center;
          }
        }

        .thoms {
          display: none;
        }
      }
    }
  }

  .contenedor-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* ---main--- */

.precios {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;

    .plan {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      height: 90%;

      &.destacado {
        background: var(--colorPrimario);
        height: 100%;

        .titulo-plan, ul {
            color: #fff;
        }

        p {
          color: #e6e6e6;

          span {
            color: #ffffffb3;
          }
        }
      }

      .titulo-plan {
        font-size: 20px;
      }

      .precio-plan {
        color: #303030;

        span {
          color: #3b3b3b;
          font-size: 12px;
        }
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 7px;

        li {
          display: flex;
          gap: 5px;

          span {
            color: var(--colorSecundario);
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      
      a {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px;
        background: var(--colorSecundario);
        color: #fff;
        border-radius: 5px;
      }
    }

    @media screen and (max-width: 1080px) {

      & {
        .plan{
          height: 100%;
        }
      }
      
    }

    @media screen and (max-width: 800px) {

      & {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .plan {
          line-height: 1.2;
          letter-spacing: 0.2px;
          gap: 5px;
          height: 100%;
        }
      }
      
    }

    @media screen and (max-width: 600px) {

      & {
        grid-template-columns: 1fr;
      }
      
    }
  }
}

.contenedor-main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.porque {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 50px;

  .texto-porque {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 28px;
    }

    .parrafo {
      color: #020202;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      justify-content: space-between;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        gap: 10px;

        .icono-porque {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 100%;
            height: 100%;
            color: var(--colorSecundario);
          }
        }
      }
    }
  }

  .thom-porque {
    overflow: hidden;
    border-radius: 5px;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      grid-template-columns: 60% 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    & {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;

      .texto-porque {
        gap: 10px;

        h2,
        .parrafo {
          text-align: center;
        }
      }

      .thom-porque {
        display: none;
      }
    }
  }
}

.metodoTrabajo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;

  .grid-metodo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .fotos {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info-metodo {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;

      .box {
        background: #fff;
        display: flex;
        cursor: pointer;

        gap: 10px;
        padding: 20px;
        border-radius: 5px;

        &.active {
          background: var(--colorPrimario);

          .info-box {
            h4 {
              color: #fff;
            }

            p {
              color: #d4d4d4;
            }
          }
        }

        .icono-metodo {
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 40px;
            height: 40px;
            color: var(--colorSecundario);
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      & {
        grid-template-columns: 1fr 60%;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        grid-template-columns: 1fr;

        .info-metodo {
          grid-template-columns: 1fr 1fr;

          .box {
            .icono-metodo {
              display: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: 376px) {
      & {
        grid-template-columns: 1fr;

        .info-metodo {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

.trabajos {
  margin-bottom: 50px;

  .grid-trabajos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .card {
      background: #fff;
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .thoms {
        width: 100%;
        overflow: hidden;
        border-radius: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px;

        .icono {
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 25px;
            height: 25px;
            color: var(--colorSecundario);
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (max-width: 600px) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }
}

.sobre-mi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 70px;

  .thoms {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;

    img {
      border-radius: 5px;
      border: 1px solid #000000;
      padding: 6px;
      object-fit: cover;

      &:nth-child(1) {
        width: 80%;
        height: 100%;
      }

      &:nth-child(2) {
        width: 40%;
        position: absolute;
        left: 0;
        bottom: -5%;
      }
    }
  }

  .info-sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .encabezado-sobre {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .pre-titulo {
        color: var(--colorSecundario);
        font-size: 18px;
      }

      .titulo {
        font-size: 28px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    & {
      grid-template-columns: 1fr;

      .thoms {
        align-items: flex-end;

        img {
          &:nth-child(1) {
            width: 60%;
            height: auto;
          }

          &:nth-child(2) {
            bottom: 45px;
          }
        }
      }

      .info-sobre {
        .titulo,
        .pre-titulo,
        p {
          text-align: center;
        }
      }
    }
  }
}

.clientes {

  .grid-cliente {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card-cliente {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: #fff;
      padding: 20px;

      .calificacion {
        color: var(--colorSecundario);
        display: flex;
        gap: 5px;
        align-items: center;
      }

      p {
        font-family: "rethink-sans italic", sans-serif;
      }

      .cliente-nombre {
        display: flex;
        gap: 10px;

        .icono-usuario {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 30px;
            height: 30px;
            color: #595959b6;
            
          }
        }

        .usuario {

          .nombre {
          color: #343434;
            
          }
        }
      }
    }

  }
}
